

<h1>News</h1>
<table>
<% @results['value'].each do |result| %>
<tr>
<td>
<%= image_tag result['image']['thumbnail']['contentUrl'] if result['image']%>
</td>
<td>
<%= link_to result['name'], result['url'] %>
<br>
<%= result['description'] %>
</td>
</tr>
<% end %>
</table>
